
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    display: flex;
    align-items: center;
    padding: none;
    background: none;
    z-index: 999;
    justify-content: space-between;
    border-bottom: solid 4px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .header_left{
    margin-left: 10px;
    display: flex;
  }

  .user-icon{
    font-size: 24px;
    cursor: pointer;
  }

  .header_center{
    margin: 0 auto;
  }

  
  .logo {
    font-size: 24px;
    cursor: pointer;
  }
  
  .header_right{
    margin-right: 10px;
    display: flex;
  }
  
  .search-bar {
    margin: 5px;
    border: none;
    border-radius: 20px;
    background-color: #02a582;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .search-bar .ant-input {
    border: none;
    border-radius: 20px;
    box-shadow: none;
  }
  
  .search-bar .ant-input:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
  }

  .cart-icon {
    font-size: 24px;
    cursor: pointer;
  }
  