

.footer {
    position: flex;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 20px;
    background: none;
    justify-content: space-between;
    border-top: solid 2px;
    /* margin-left: 10px;
    margin-right: 10px; */
}

.footer-left
.footer-right
.footer-centre{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}


@media (max-width: 768px) {
    .footer {
      flex-direction: column;
    }
  
}