
  .header {
    position: flex;
    top: 0;
    left: 0;
    width: 98%;
    display: flex;
    align-items: center;
    padding: none;
    background: none;
    z-index: 999;
    justify-content: space-between;
    border-bottom: solid 2px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .header_left{
    margin-left: 10px;
    display: flex;
  }

  .icon{
    text-decoration: none;
  }
  
  .user-icon{
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
  }

  /* .header_center{
    
  } */

  .badge {
    position: relative;
    display: inline-block;
  }
  
  .logo {
    margin: 0 auto;
    width: 100px;
    height: 20px;
    cursor: pointer;
    border: solid green 4px;
  }
  
  .header_right{
    margin-right: 10px;
    display: flex;
  }
  
  .search-bar {
    margin: 5px;
    border: none;
    border-radius: 20px;
    background-color: #02a582;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .search-bar .ant-input {
    border: none;
    border-radius: 20px;
    box-shadow: none;
  }
  
  .search-bar .ant-input:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
  }

  .cart-icon {
    margin: 5px;
    font-size: 24px;
    cursor: pointer;
  }

  .badge-notification {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }