.product-card{
    margin:5px;
    width:20%;
}

.product-desc{
    font: 500;
    line-height: 10px;
}

.product-info{
    margin-top: "";
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;    
}

.product-details{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product-rating{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.star-sign{
    color: rgb(195, 195, 4);
}

.product-price{
    font: 600;
}

@media (max-width: 768px) {
    .product-card {
      width: 80%;
    }
  }