.top-category{
    display: flex;
    background-color: rgb(3, 170, 109);
    align-items: center;
    justify-content: center;
    width: 100%;
}

h4{
    margin-right: 20px;
    cursor: pointer;
    padding: 0 10px 0 10px;
    transition: transform 0.3s ease;
 }

h4:hover{
    color: white;
    padding: 0 5px 0 5px;
    transform: scale(1.1);
}