.top-category{
    display: flex;
    background-color: rgba(3, 170, 109, 0.8);
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    margin: 10px 0 10px 0;
}

h4{
    margin-right: 20px;
    cursor: pointer;
    padding: 0 10px 0 10px;
    transition: transform 0.3s ease;
 }

h4:hover{
    color: white;
    padding: 0 5px 0 5px;
    transform: scale(1.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}